/* Download later */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

/**
COLOR SCHEME
#0D0C1D
#161B33
#474973
#9F86C0
#BE95C4
**/

/** ______________ GLOBAL ______________ **/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Roboto', sans-serif;
    background-color: #0D0C1D;
    overflow-x: hidden;
}
a,p{text-decoration: none;color:#ffffff;}
li,ul{list-style: none;}
.container{
    width: 80%;
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
    margin: 0 auto;
}
a.disabled{
    cursor: context-menu!important;
    color: rgb(70, 70, 70)!important;
    text-decoration: line-through;
}
hr{
    height: 1px;
    margin: 50px 0;
    border: 0;
    background-image: linear-gradient(to right, rgba(190, 149, 196,0) , rgba(190, 149, 196, 0.75), rgba(190, 149, 196, 0));
}

/** ______________ HEADER ______________ **/
header{
    position: absolute;
    display: flex;
    align-items: center;

    width: 100vw;
    height: 64px;
    padding: 0 15%; 
    z-index: 100;
}
header.scrolled{
    position: fixed;
    background-color: rgba(13, 12, 29, 0.80);
    animation: header-scroll 500ms;
}
header > a {
    font-weight: 900;
    font-size: 2rem;
}
header > a > span{
    color: #BE95C4;
}
header > nav{
    margin-left: auto;
}
header > nav > ul{
    display: inline-flex;
}
header > nav > ul > li{
    position: relative;
    margin: 0 10px;

    font-size: 1rem;
    text-transform: uppercase   ;

    animation: opacity 500ms ease-in;
    animation-fill-mode: forwards;  
    opacity: 0;
}
header > nav > ul > li::after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 3px;
    margin: 4px 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #BE95C4;
    transition: ease-in-out 300ms;
}
header > nav > ul > li:hover::after{
    width: 75%;
}

/** ______________ SECTIONS ______________ **/
section{
    width: 100vw;
    min-height: 100vh;
    padding: 10px 0;
    overflow: auto;
}

/** MAIN TITLE **/
#first-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #ffffff;

    background-image: url("../../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-blend-mode: color;
}
#first-section h1{
    font-size: 3rem;
}
#first-section h2{
    font-size: 1rem;
    font-weight: 300;
}
#first-section button{
    position: absolute;
    bottom: 5%;
    padding: 15px;
    border: 1px solid rgb(122, 96, 155);
    border-radius: 10px;

    color: #ffffff;
    background-color: #9F86C0;
}

/** PORTFOLIO **/
#second-section{
    display: flex;
    background-color: #161B33;
}
#portfolio , #portfolio > .titles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#portfolio{
    flex-wrap: wrap;
    align-items: center;
    align-self: stretch;
}
#portfolio > .titles{
    margin: 10px;
}
#portfolio > .titles >  .moving{
    margin-right:5px; 
    font-size: 3rem;
}
#portfolio > .titles > .static{
    position: relative;
    display: flex;
    flex-direction: column;
    color: #9F86C0;
}
#portfolio > .titles > .static > a{
    margin: 0 5px 10px; 
    font-size: 3rem;
    color: rgba(190, 149, 196, 0.4);
    cursor: pointer;
}
#portfolio > .titles > .static > a.active{
    font-weight: 700;
    color: #BE95C4;
}


#portfolio > .content{
    display: none;
    justify-content: space-around;
    width: 60%;
    border: 1px solid #ffffff12;
}
#portfolio > .content > a{
    -height: 750px; /*testing*/
}
#portfolio > .content > .loading{
    width: 100px;
    height: 100px;
}

/** Cards **/
.card-list{
    display: flex;
    justify-content: space-around;
    
    flex-wrap: wrap;
    margin-top: 10px;
}
.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    margin: 15px 15px 20px;
    overflow: hidden;

    border: 1px solid rgb(24, 29, 61);
    border-radius: 10px;
    background-color: #0D0C1D;
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card > .options{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.card > .options > a{
    font-weight: 400;
    color: #474973;
}
.card > .options > a:not(.disabled):hover{
    text-decoration: underline;
}
.card > p{
    width: 100%;
    margin: 15px 0;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 700;
    font-size: 1.7rem;
    color: #BE95C4;
}
.card > .icons{
    display: flex;
    justify-content: center;
    color: #474973;
    font-size: 1.3rem;
}
.card > .icons > i{
    margin: 0 10px;
}