/* Download later */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

/**
COLOR SCHEME
#0D0C1D
#161B33
#474973
#9F86C0
#BE95C4
**/

:root{
    --black-color: #020b18;
    --black-80-color: #020b18DA;
    --darker-color: #0C1728;
    --darker-80-color: #0C1728DA;
    --dark-color: #194F93;
    --dark-80-color: #194F93DA;
    --normal-color: #306FB8;
    --normal-80-color: #306FB8DA;
    --light-color: #67ACF5;
    --light-40-color: #67ACF555;
    --light-80-color: #67ACF5DA;
    --lighter-color: #A5D1F7;
    --white-color: #FFFCE0 ;
}

/** ______________ GLOBAL ______________ **/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Roboto', sans-serif;
    /* background-color: #0D0C1D; */
    background-color: var(--darker-color);
    overflow-x: hidden;
}
a,p{text-decoration: none;color:var(--white-color)}
li,ul{list-style: none;}
.container{
    width: 99%;
    /* width: 80%; */
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
    margin: 0 auto;
}
a.disabled{
    cursor: context-menu!important;
    color: rgb(70, 70, 70)!important;
    text-decoration: line-through;
}
hr{
    height: 1px;
    margin: 50px 0;
    border: 0;
    background-image: linear-gradient(to right, rgba(190, 149, 196,0) , rgba(190, 149, 196, 0.75), rgba(190, 149, 196, 0));
}

/** ______________ HEADER ______________ **/
header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 64px;
    padding: 0 5px;
    z-index: 100;
}
header.scrolled{
    position: fixed;
    /* background-color: rgba(13, 12, 29, 0.80); */
    background-color: var(--black-80-color);
    animation: header-scroll 500ms;
}
header > .logo {
    font-weight: 900;
    font-size: 2rem;
    /* color: #161B33; */
    color: var(--dark-color);
}
header.scrolled > .logo {
    /* color: #ffffff; */
    color: var(--white-color)
}
header.scrolled > .logo > span{
    /* color: #BE95C4; */
    color: var(--lighter-color);

}
header > .mobile-menu-icon{
    font-size: 1.7rem;
    /* color: #BE95C4; */
    color: var(--white-color);
}
/* NAVBAR */
header > nav{
    display: none;
}
header > nav > ul{
    display: inline-flex;
}
header > nav > ul > li{
    position: relative;
    margin: 0 10px;

    font-size: 1rem;
    /* color: #161B33; */
    text-transform: uppercase;

    opacity: 0;
}
header > nav > ul > li > a{
    color: var(--dark-color);
}
header.scrolled > nav > ul > li > a{
    color: var(--white-color);
}
header > nav > ul > li::after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 3px;
    margin: 4px 0;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #BE95C4; */
    background-color: var(--light-color);
    transition: ease-in-out 300ms;
}
header > nav > ul > li:hover::after{
    width: 75%;
}
/* Mobile NAVBAR */
#mobile-nav{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0 10%;
    /* background-color: #161B33; */
    background-color: var(--dark-color);
    z-index: 100;
}
#mobile-nav > #mobile-nav-close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 2rem;
}
#mobile-nav > ul{
    width: 100%;
}
#mobile-nav > ul > li > a,#mobile-nav > ul > .social-icons{
    font-size: 2rem;
    /* color: #BE95C4; */
    color: var(--lighter-color);
}
#mobile-nav > ul > li:not(:last-child)::after{
    content: '';
    display: block;
    margin: 20px 0;
    /* border: 1px solid #474973; */
    border: 1px solid var(--normal-color);
}
#mobile-nav > ul > .social-icons > i{
    padding: 0 10px;
}
/** ______________ SECTIONS ______________ **/
section{
    width: 100vw;
    min-height: 100vh;
    padding: 10px 0;
    overflow: auto;
}

/** MAIN TITLE **/
#first-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #ffffff;

    background-image: url("../../img/bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#first-section h1{
    text-align: center;
    font-size: 3rem;
}
#first-section h2{
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
}
#first-section > .call-to-action{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    bottom: 5%;
    border: 3px solid var(--normal-color);
    border-radius: 50%;
    font-weight: 700;
    font-size: 1.3rem;
    /* color: #ffffff; */
    color: var(--normal-color);
}
#first-section > .call-to-action:hover{
    transform: scale(1.15);
    cursor: pointer;
}

/** PORTFOLIO **/
#second-section{
    display: flex;
    /* background-color: #161B33; */
    background-color: var(--darker-color);
}
#portfolio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    align-self: stretch;
    padding: 64px 0 15px;
}
#portfolio > .titles{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
#portfolio > .titles >  .moving{
    margin-right:5px; 
    font-size: 3rem;
}
#portfolio > .titles > .static{
    position: relative;
    display: flex;
    flex-direction: column;
}
#portfolio > .titles > .static > a{
    margin: 0 5px 10px; 
    font-size: 3rem;
    color: var(--light-40-color);
    cursor: pointer;
}
#portfolio > .titles > .static > a.active{
    font-weight: 700;
    /* color: #BE95C4; */
    color: var(--light-color);
}
#portfolio > .mobile-titles{
    display: flex;
}

#portfolio > .content{
    display: none;
    justify-content: space-around;
    -border: 1px solid #ffffff12;
}
#portfolio > .content > a{
    -height: 750px; /*testing*/
}
#portfolio > .content > .loading{
    width: 100px;
    height: 100px;
}

/** Repository list **/
#rep-list{
    width: 100%;
}
#rep-list > li{    
    text-overflow: ellipsis;
    white-space: nowrap;   
    overflow: hidden;
    /* color:#9F86C0;  */
    color: var(--normal-color);
}
#rep-list > li:not(:last-child)::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin: 20px 0;
    
    background-image: linear-gradient(to right, var(--light-80-color), #00000000);
}
#rep-list > li > a{ 
    font-size: 1.5rem;
    font-weight: 700;
    color: inherit;
}
#rep-list > li > a > i{
    font-size: 1rem;
}
#rep-list > li > p{
    margin: 10px 0 0 10px;
    font-size: 1rem;
    font-weight: 300;
    /* color:#ffffff; */
    color: var(--white-color);
}
#rep-list > li > p::before{
    content: '> ';
}


/** Cards **/
.card-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}
.card{
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding: 10px;
    margin: 20px 5px;
    overflow: hidden;

    /* border: 1px solid rgb(24, 29, 61); */
    border: 1px solid var(--darker-color);
    border-radius: 10px;
    /* background-color: #0D0C1D; */
    background-color: var(--black-color);
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card > .options{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.card > .options > a{
    font-weight: 400;
    /* color: #474973; */
    color: var(--dark-color);
}
.card > .options > a:not(.disabled):hover{
    text-decoration: underline;
}
.card > p{
    width: 100%;
    margin: 15px 0;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 700;
    font-size: 1.7rem;
    /* color: #BE95C4; */
    color: var(--lighter-color);
}
.card > .icons{
    display: flex;
    justify-content: center;
    /* color: #474973; */
    color: var(--dark-color);
    font-size: 1.3rem;
}
.card > .icons > i{
    margin: 0 10px;
}